* { box-sizing: border-box; }

nav {
	font-family: 'Dancing Script', cursive;
	color: rgb(255,0,0);
	text-shadow: rgba(255,255,0,1);
	font-size: 22px;
	padding-right: 60px;
	background-color: grey;
}

#respo {
	display: none;
}

#imgresponsive {
	display: none;
}

.separacion {
	margin-bottom: 10px;
}

.azulito {
	color: blue;
}

.textomodal {
	padding: 15px 25px 5px 25px;
	font-style: italic;
	text-align: justify-all;
}

.espacio {
	margin-top: 0px;
}

.contene {
	height: 80px;
}

.anchito {
	width: 95%;
	padding: 15px 15px 15px 15px;
}

.derecha {
	text-align: right;
	font-size: 16px;
	padding-top: 20px;
}

.derecha .botones .btn-primary{
	background-color: rgba(219, 100, 31, 1);
}

footer {
	padding: 0px 0;
	text-align: center;
	font-size: 12px;
	height: 20px;
	background-color: rgba(255,255,255,0.5);
}

footer img {
	height: 20px;
	widows: 20px;
	text-align: center;
	vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 991px) {
  .list-group{
    display: none;
  }
  #respo{
  	display: block;
  	text-align: right;
  	float: right;
  }

 #btn1, #btn2 {
 	display: none;
 	 }
}

@media  (max-width: 768px) {

    .list-group{
    display: none;
  }
  #respo{
  	display: inline-block;
  	text-align: right;
  	float: right;
  }

   #btn1, #btn2 {
 	display: none;
 	 }

  #imgresponsive {
  	display: block;
  }

	#imgnormal {
	display: none;
}
}
