* { box-sizing: border-box; }

nav {
	font-family: 'Dancing Script', cursive;
	color: rgb(255,0,0);
	text-shadow: rgba(255,255,0,1);
	font-size: 22px;
	padding-right: 60px;
	background-color: grey;
}

body {}

.separacion {
	margin-bottom: 10px;
}

.azulito {
	color: blue;
}

.textomodal {
	padding: 15px 25px 5px 25px;
	font-style: italic;
	text-align: justify-all;
}

.espacio {
	margin-top: 0px;
}

.contene {
	height: 80px;
}
